@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', 'sans-serif';

  --color-primary: #1677ff;
  --color-secondary: #faad14;
  --color-success: #52c41a;
  --color-danger: #ff4d4f;

  --color-bg-admin: #f0f2f5;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  background-color: var(--color-bg-admin);
}
